
/*აქ მაქ ფონტები */
@import url("//cdn.web-fonts.ge/fonts/alkdots/css/alkdots.min.css");





/*აქ წერიაქ ბეგრაუნ დის ფერი*/

body {
background-color: #175476;;

}

/*აქ მიწერაი ცემტრში მყოფი ფოტოს style */

.centri {


    position: absolute;

    width: 275px;
    height: 156px;
    left: 490px;
    top: 230px;

    border-radius: 78px;

}





.name {
    position: absolute;
    font-size: 20px;
    color: #f8eded;
    left: 510px;
    top: 290px;
 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*აქ გავაკეთბ ღილაკებს*/

.facebook {
cursor: pointer;

    position: absolute;
    width: 210px;
    height: 50px;
    left: 339px;
    top: 109px;
    background:  #4267B2;
    border-radius: 60px;

    color: white;
    font-size: 30px;
    


}



/*აქ გავეკეთბ ღილაკების ანიმაციებს*/

.facebook:hover  {
background-color: red;

}


/*აქ გავაკეთებ აიქონებს*/

#fb {
background-color: blue;
color: blue;
}